html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border:0 none;
margin:0;
outline:0 none;
padding:0;
vertical-align:baseline;
}

html, body { height: 100%; }

body { font-family: 'Open Sans', Tahoma, Arial, Verdana; }

h2 { font-weight: bold; font-size: 200%; margin-bottom: 1ex; margin-top: 1ex; color: #6D912D; }
h3 { clear: both; font-weight: normal; font-size: 150%; color: #6D912D; margin-top: 2ex; margin-bottom: 1ex; }
em {  font-style:  normal; font-weight: bold; }
code { display: block; padding: 2ex; margin-top: 2ex; margin-bottom: 2ex; color: white; background: #292929; border: .5px solid white; }
a {  color: #6D912D;  }
a:visited {  color: #85a753;  }

#header { background-color: #333; width: 100%;  height: 105px; }
#logo { float: left; background: url('../img/tira_logo.png') repeat-x; width: 5em; height: 105px; text-align-center; border-right: 1px solid #85a753; }
#logo img { margin: 10px auto; display: block; }

#header-menu { overflow: hidden; height: 100%; margin-right: 5em; }
#header-menu h1 { display: block; float: left; text-indent: -1000px; background: url('../img/title.png') no-repeat; width: 193px; height:65px; margin-top: 1ex; margin-left: 1ex; }
#header-menu ul { list-style: none;  }
#header-menu ul li { float: left; }
#header-menu ul#submenu { float: right;  font-size: 90%; font-weight: bold; margin-top: 1ex; margin-right: 2ex; }
#header-menu ul#submenu li { margin-left: 4ex; }
#header-menu ul#submenu li a { color: #757575; text-decoration: none; }
#header-menu ul#submenu li a:hover { text-decoration: underline; }
#header-menu #menu-container { height: 100%; position: relative;}
#header-menu ul#menu { font-size: 80%;  position: absolute; bottom: 0; right: 0; }
#header-menu ul#menu li { background-color: #a9a9a9; margin-left: .5ex; width: 8em; text-align: center; height: 3ex; padding-top: 1ex; border-radius: 4px 4px 0px 0px; -ms-border-radius: 4px 4px 0px 0px; -moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; -khtml-border-radius: 4px 4px 0px 0px; font-weight: bold; }
#header-menu ul#menu li.current, #header-menu ul#menu li:hover { background-color: #fdfdfd; color: #929292;}
#header-menu ul#menu li a { text-decoration: none; }
#header-menu ul#menu li a { color: #545454; }
#header-menu ul#menu li.current a { color: #929292; }


#container { background-color: #dadada; width: 100%; float: left;  }

#inner-container { margin-left: 5em; margin-right: 5em; background-color: #fefefe; height: 100%; float: left; color: #414141; }
#inner-container.home { background: url('../img/tira_info.png') repeat-x; }
#inner-container { background: white;  padding-left: 2ex; padding-right: 2ex; }
#inner-container p { margin-bottom: 1ex; font-size: 120%; line-height: 150%; } 
#inner-container p:last-child { margin-bottom: 3ex;  }  
#inner-container ul, ol { font-size: 120%; line-height: 150%; }
#inner-container ul li { list-style: none;  background: url('../img/longobullet.png') no-repeat; padding-left: 45px; height: 40px; padding-top: .6ex; }
#inner-container ol li { background: none; list-style: decimal; list-style-position: inside; padding: 0; }

#watch { float: left;  margin-top: 4ex; }
#watch img { height: 300px; }

#info { float: left;  height: 100%; width: 55%;  padding-left: 2ex;  }
#info h1 { margin-top:.5ex; padding:0;}
#info p { font-size: 110%; text-align: justify; width: 95%; display:block; margin: 1ex auto 1.5ex auto;}
#info p em { font-style: normal; font-weight: bold; }
#info #video-and-more { margin: 3.5ex auto 3.5ex auto; height: 100px; width: 350px;}
#info #video { float: left; }
#info ul#more { float: left; list-style: none; margin-left: .5ex;}
#info ul#more li { padding: 1ex; text-align: center; background-image: none; background-color: #6e6e6e; margin-bottom: .2ex;  color: white; width: 8em; border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; font-size: 90%; height: 100%; }
#info ul#more li a { color: white; text-decoration: none; }
#info ul#more li:hover { background-color: #333333; }


#features { clear: both; background: url('../img/tira_feature.png') repeat-x; overflow: hidden; float: left; width: 100%; height: 161px; font-size: 80%; }
#features ul { float: left; margin-left: 7em; list-style: none; }
#features ul li { float: left; color: #cfeba1; width: 10em; margin-right: 4ex;  padding-top: 4ex; cursor: pointer; }
#features ul li.current, #features ul li:hover { background: url('../img/current_feature.png') no-repeat top center; }
#features ul li h3 { margin-bottom: .2ex;  }
#features ul li a { color: #fffcff; text-decoration: none; }
#features #download { position: absolute; right: 0; margin-top: 2ex;  margin-right: 6em; }
#features #download a { text-indent: -9999px; background: url('../img/download.png') no-repeat; display: block; height: 66px; width: 216px;}
#features #download p { text-align: center; font-size: 80%; margin-top: 1ex; color:#2f4717; font-weight: bold;}

#news { clear: both; float: left; background-color: #3d5315; color: #d4d6d5; width: 100%; }
#news h2 { margin-top: .5ex; color: #91b74a; font-size: 120%; }
#news #blog { width: 70%; clear: left;float: left; overflow: hidden; }
#news #blog .post { clear: left; float: left;  }
#news #blog .post .post-col { width: 5em; float: left; background-color: #2c3e0e; margin-bottom: -1000px; padding-bottom:1000px; padding-top: 2ex;}
#news #blog .post ul { margin: 0 auto; width: 39px; list-style: none;}  
#news #blog .post .post-col .date-img {  margin-bottom: 3ex; }
#news #blog .post .post-col img { clear: both; margin-bottom: .5ex; display: block; }
#news #blog .post .post-text { padding-top: 2ex;  float: left; padding-left: 3%; width: 79%; padding-right: 2.5em; border-right: 1px solid #4c6222; }
#news #blog .post .post-text.first-post { padding-top: 0; margin-top: 2ex;}
#news #blog .post .post-text.last-post { padding-bottom: 8ex; margin-bottom: 2ex;}
#news #blog .post .post-text p { margin-top:1ex; margin-bottom: 2ex; }
#news #blog .post .post-text p.date-post { color: #6d912d; margin-top: .2ex; margin-bottom: 2ex; }
#news #blog .post .post-text p.read-more { float: right; }
#news #blog .post .post-text p.read-more span { display: block; float: right; border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; color: #81a43c; background-color:#2b3a0f; padding: .7ex; width: 8em; text-align:center; font-weight: bold; margin-top: 1ex; cursor: pointer; }
#news #blog .post .post-text p.read-more span:hover { background-color: #81a43c;  }
#news #blog .post .post-text p.read-more span:hover a { color: #2b3a0f; }
#news #blog .post .post-text p.read-more a { color: #81a43c; text-decoration: none; }
#news hr { clear: both; height: 3.5x; border-top: none; border-left: none; border-right: none; border-bottom: 3.5px dotted #6D912D; width: 120px; margin: 0 auto; }


#news #social { float: left; margin-top: 2ex; padding-left: 2%; width: 26%;  }
#news #social div#forum p { margin-top: 1ex; margin-bottom: 0; padding-bottom:0; }
#news #social div#forum p.author { margin-top: 0;  padding-top: 0; }
#news #social h3 { color: #91b74a; font-size: 120%; margin-bottom: .5ex; }
#news #social p {   padding-top: 1ex; padding-bottom:1ex; }
#news #social p em, p.author { color: #91b74a; font-style: normal; }

#twitter-feed #tweets ul { list-style: none; margin-top: 1ex; }
#twitter-feed #tweets ul li { margin-bottom: 1ex;  }
#twitter-feed #tweets ul li hr { margin-top: 1ex; }
#twitter-feed #tweets ul li a { color: #91B74A; text-decoration: none; }
#twitter-feed #tweets ul li a:visited { color: #91B74A; }
#twitter-feed #tweets ul li a:hover { }
#twitter-feed #tweets ul li span.tweet_time { display: block; font-size: small; color: #91B74A; margin-top: .5ex; }

ul#screenshots { list-style: none; width: 85%; height: 100%; margin: 0 auto;  }
ul#screenshots li { 
                    float:left; 
                    width: 45%; 
                    min-width: 303px;
                    text-align: center; 
                    background-color: #6e6e6e; 
                    color: white; 
                    border-radius: 4px; 
                    -ms-border-radius: 4px; 
                    -moz-border-radius: 4px; 
                    -webkit-border-radius: 4px; 
                    -khtml-border-radius: 4px; 
                    height: 303px; 
                    padding-top: 20px; 
                    padding-bottom: 20px; 
                    margin: 15px;
}
ul#screenshots li:hover { background-color: #333333; 
		-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
} 
ul#screenshots li a { height: 230px; }
ul#screenshots h3 { text-align: center; display: block; width: 300px; margin: 1.5ex auto!important; font-size: 100%; }
#wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
#footer { clear: both; background-color: #292929; padding:2ex; text-align: center; color: #737373; font-weight: bold; }

ul#downloads { list-style-type: None; margin-bottom: 2ex; padding: 0; color: white; float: left; }

ul#downloads > li:first-child { margin-left: 0; }

ul#downloads li{
                    height: 100%;
                    font-size: 90%; 
                    background-image: none;
                    float: left;
                    text-align: center; 
                    background-color: #6e6e6e; 
                    color: white; 
                    border-radius: 4px; 
                    -ms-border-radius: 4px; 
                    -moz-border-radius: 4px; 
                    -webkit-border-radius: 4px; 
                    -khtml-border-radius: 4px;
                    margin: 0 2ex 0 2ex;
                    padding: 1.5ex;
                    text-align: center;
                    width: 5em;
}

ul#downloads li a, ul#downloads li a:visited { color: white; text-decoration: none; margin: 0 auto; }

ul#downloads li:hover { background-color: #333333; 
		-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
} 

#features-list .feature-info { width: 60%; float: left; }
#features-list .feature-info.left { margin-right: 2ex; }
#features-list .feature-info.right { margin-left: 2.5ex; }
#features-list img {float: left;  width: 300px; height: 205px; cursor: pointer; }
#features-list h3 { margin-top: 0; }
#features-list hr { clear: both; border: 0; padding: 2ex; }
#features-list #resizable-zoom-in-hover { position: absolute; top: 0; right: 2.5ex; width: 300px; height: 205px;  opacity: 0.5; background: url('../img/zoom-in.png') center no-repeat black; }